/*------------------------------------*/
/*---------- OVERALL STYLES ----------*/
/*------------------------------------*/

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  /*-webkit-font-smoothing: antialiased;*/
  font-family: 'Source Sans Pro', 'Helvetica', sans-serif;
  margin: 0;
  padding: 0;
}

body {
/*	margin: 0;
	padding: 0;*/
	background-color: #EAEAEA;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.3em;
  font-weight: lighter;
}

p, li {
  /*font-weight: lighter;*/
  font-size: 1.1em;
}

/*------------------------------------*/
/*----------- PAGE STYLES ------------*/
/*------------------------------------*/

.page {
	display: grid;
	grid-template-rows: auto auto auto 1fr;
	background-color: #EAEAEA;
}

.profile-header {
	/*display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;*/
	/*background-color: #464646;*/
  background-color: #121212;
  padding-left: 20px;
  padding-right: 20px;
  z-index: 1;
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.2);
  /*display: flex;
  flex-direction: column;
  align-items: stretch;*/
}

.header-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-column-gap: 20px;
  justify-items: center;
  padding-left: 30px;
  padding-right: 30px;
  max-width: 900px;
  margin: auto;
}

.profile-wrapper {
  /*padding: 20px;
  display: grid;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-template-columns: auto auto 1fr auto auto;
  grid-template-rows: auto auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  align-items: center;
  max-width: 900px;*/
  display: flex;
  /*justify-content: flex-start;*/
  align-items: center;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  /*max-width: 900px;*/
  justify-self: flex-start;
  padding-top: 20px;
  padding-bottom: 20px;
  text-decoration: none;
}

.profile-logo {
	/* border: 2px solid #FFFFFF; */
	/* border-radius: 50px; */
	/*margin-right: 10px;*/
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  margin-right: 15px;
}

.profile-title {
	margin: 0;
	color: #FFFFFF;
	font-weight: lighter;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.navigation {
	display: flex;
	/*justify-content: flex-end;*/
  align-items: center;
	/*background-color: #121212;*/
	/*background-color: #464646;
	box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.2);
	z-index: 1;*/
  /*border-bottom: 8px solid #000000;*/
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  /*max-width: 900px;*/
  /*min-height: 50px;*/
  justify-self: flex-end;
}

.nav-item {
  height: 100%;
  text-decoration: none;
  display: flex;
  align-items: center;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  color: #FFF;
}

.nav-item:hover {
  /*border-bottom: 5px solid #FFF;*/
  background-color: #232323;
}

.nav-item-selected {
	height: 100%;
  text-decoration: none;
  display: flex;
  align-items: center;
  border-top: 5px solid transparent;
  /*border-bottom: 5px solid #85DBCB;
  color: #85DBCB;*/
  border-bottom: 5px solid #FFF;
  color: #FFF;
}

.nav-item-selected:hover {
  background-color: #232323;
}

.nav-text {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: inherit;
  text-decoration: none;
  font-weight: normal;
}

/*------------------------------------*/
/*----------- PAGE CONTENTS ----------*/
/*------------------------------------*/

.home-content {
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	grid-template-rows: auto auto 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 15px;
	padding-top: 20px;
	justify-items: center;
	background-color: #EAEAEA;
}

/*.home-wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto auto;
	grid-column-gap: 20px;
	grid-row-gap: 15px;
	max-width: 900px;
	grid-row-start: 2;
	grid-row-end: 3;
	grid-column-start: 2;
	grid-column-end: 3;
}*/

/*.home-wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto auto auto;
	grid-column-gap: 20px;
	grid-row-gap: 40px;
	max-width: 900px;
	grid-row-start: 1;
	grid-row-end: 3;
	grid-column-start: 2;
	grid-column-end: 3;
	padding: 20px;
	background-color: #FFFFFF;
	border-radius: 5px;
	box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.2);
}*/

.home-wrapper {
	display: grid;
	grid-template-columns: 2fr auto 1fr 1fr auto 2fr;
	grid-template-rows: auto auto auto;
	grid-column-gap: 20px;
	grid-row-gap: 40px;
	max-width: 900px;
	grid-row-start: 1;
	grid-row-end: 3;
	grid-column-start: 2;
	grid-column-end: 3;
	padding: 20px;
	background-color: #FFFFFF;
	border-radius: 5px;
	box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.2);
}

.projects-content {
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	grid-template-rows: auto auto auto auto 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 15px;
	padding-top: 20px;
	justify-items: center;
	background-color: #EAEAEA;
}

.experience-content {
	/* display: grid;
	grid-template-columns: 1fr auto 1fr;
	grid-template-rows: auto auto auto 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 15px; */
  display: flex;
  flex-direction: column;
  align-items: center;
	padding: 20px 20px 0 20px;
	/* justify-items: center; */
	background-color: #EAEAEA;
}

.general-content {
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	grid-template-rows: auto 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 15px;
	padding-top: 20px;
	justify-items: center;
	background-color: #EAEAEA;
}

.contact-content {
	display: flex;
	flex-direction: row;
	padding-top: 10px;
	align-items: center;
	justify-content: center;
}

/*------------------------------------*/
/*--------------- CARD ---------------*/
/*------------------------------------*/

.card {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-template-rows: auto auto auto auto auto;
	grid-row-gap: 5px;
	grid-column-gap: 20px;
  width: 100%;
	padding: 20px;
  margin-bottom: 20px;
	background-color: #FFFFFF;
	border-radius: 5px;
	max-width: 900px;
	box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.2);
}

.card-pic {
	border-radius: 25px;
	grid-row-start: 1;
	grid-row-end: 6;
	grid-column-start: 1;
	grid-column-end: 2;
  width: 200px;
  height: 200px;
}

.card-pic-shadow {
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
}

.card-title {
	padding: 0;
	margin: 0;
	/*margin-top: 10px;*/
	color: #121212;
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 2;
	grid-column-end: 3;
}

.card-subtitle {
	padding: 0;
	margin: 0;
	margin-top: -5px;
	margin-bottom: 5px;
	color: #959595;
	grid-row-start: 2;
	grid-row-end: 3;
	grid-column-start: 2;
	grid-column-end: 4;
	/*font-weight: normal;*/
}

.card-description {
	padding: 0;
	margin: 0;
	color: #959595;
	grid-row-start: 3;
	grid-row-end: 4;
	grid-column-start: 2;
	grid-column-end: 4;
}

.card-button {
	padding: 8px;
	border-radius: 5px;
	grid-row-start: 5;
   	grid-row-end: 6;
	grid-column-start: 1;
	grid-column-end: 4;
	justify-self: center;
	text-decoration: none;
	background-color: #EAEAEA;
	/*background-color: #85DBCB;*/
	color: #121212;
	font-weight: normal;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.card-button:hover {
  background-color: #d9d9d9;
}

.card-tag-container {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 3;
  grid-column-end: 4;
  justify-self: right;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.card-tag {
  padding: 5px;
  margin-left: 5px;
  border-radius: 5px;
  text-decoration: none;
  background-color: #EAEAEA;
  /*background-color: #85DBCB;*/
  color: #121212;
  font-weight: normal;
  /*box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);*/
  font-size: 0.8em;
}

/*------------------------------------*/
/*------------ DETAIL CARD -----------*/
/*------------------------------------*/

.detail-card {
	/* grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
  grid-row-end: 2; */
  width: 100%;
	display: flex;
	flex-direction: column;
	padding: 20px;
  margin-bottom: 20px;
	background-color: #FFFFFF;
	border-radius: 5px;
	max-width: 900px;
	box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.2);
	align-items: center;
}

.detail-card-pic {
	margin-top: 5px;
	border-radius: 5px;
}

.detail-card-title {
	padding: 0;
	margin: 0;
	margin-top: 5px;
	color: #121212;
}

.detail-card-subtitle {
	padding: 0;
	margin: 0;
  text-align: center;
	/*margin-top: 5px;*/
	/*margin-bottom: 5px;*/
	color: #959595;
	/*font-weight: normal;*/
}

.detail-card-description {
	padding: 0;
	margin: 0;
	margin-top: 10px;
	color: #959595;
}

.detail-card-image {
  height: auto;
  width: 100%;
	padding: 0;
	margin: 0;
	margin-top: 5px;
}

.width-75 {
  height: auto;
  width: 75%;
}

.detail-card-caption {
	padding: 0;
	margin: 0;
	margin-top: 5px;
	margin-bottom: 10px;
	color: #959595;
	font-style: italic;
	font-weight: lighter;
}

/*------------------------------------*/
/*--------------- HOME ---------------*/
/*------------------------------------*/

/*.bio {*/
	/*grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
   	grid-row-end: 2;*/
   	/*grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 1;
   	grid-row-end: 2;*/
    /*grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 4;
   	color: #959595;
    font-weight: lighter;*/
    /*align-self: center;*/
   	/*color: #121212;*/
   	/*margin: 0;*/
   	/*max-width: 900px;*/
   	/*font-weight: lighter;*/
   	/*background-color: #FFFFFF;
   	border-radius: 5px;*/
   	/*padding: 20px;*/
   	/*box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.2);*/
/*}*/

.bio {
  color: #959595;
  /*font-weight: lighter;*/
  /*text-align: center;*/
}

.skills-list {
  margin: 10px 0 0 5px;
  display: flex;
  flex-direction: column;
  align-self: stretch;
  width: 100%;
}

.skills-item {
  margin-left: 20px;
  color: #959595;
}

.emphasis {
  font-style: italic;
  color: #707070;
}

.square-card {
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	grid-template-rows: auto auto auto 1fr auto;
	grid-row-gap: 5px;
	padding-left: 10px;
	padding-right: 10px;
	/*padding: 20px;
	background-color: #FFFFFF;
	border-radius: 5px;*/
	justify-items: center;
	/*box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.2);*/
}

.square-card-title {
	padding: 0;
	margin: 0;
	grid-column-start: 2;
	grid-column-end: 3;
}

.square-card-description {
	color: #959595;
	padding: 0;
	margin: 0;
	padding: 0;
	grid-column-start: 2;
	grid-column-end: 3;
	font-weight: lighter;
	text-align: center;
}

.square-card-pic {
	grid-column-start: 2;
	grid-column-end: 3;
}

.square-card-button {
	padding: 8px;
	border-radius: 5px;
	grid-row-start: 5;
   	grid-row-end: 6;
	grid-column-start: 2;
	grid-column-end: 3;
	justify-self: center;
	text-decoration: none;
	background-color: #EAEAEA;
	/*background-color: #85DBCB;*/
	color: #121212;
	font-weight: normal;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.square-card-button:hover {
  background-color: #d9d9d9;
}

.home-card {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 20px;
  align-items: center;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #FFFFFF;
  border-radius: 5px;
  max-width: 900px;
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.2);
}

.profile-pic {
  border-radius: 75px;
  border: 2px solid #FFFFFF;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.home-card-gallery {
  display: flex;
  flex-direction: row;
  align-self: stretch;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 10px 0px 10px 0px;
}

.home-card-pic {
  border-radius: 25px;
  margin: 10px;
  width: 200px;
  height: 200px;
}

.home-card-title {
	padding: 0;
	margin: 0;
	color: #121212;
}

.home-card-description {
	padding: 0;
	margin: 0 0 10px 0;
	color: #959595;
}

.home-card-button {
	padding: 8px;
	border-radius: 5px;
	text-decoration: none;
	background-color: #EAEAEA;
	/*background-color: #85DBCB;*/
	color: #121212;
	font-weight: normal;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.home-card-button:hover {
  background-color: #d9d9d9;
}

/*#projects-card {
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 4;
}

#experience-card {
	grid-column-start: 5;
	grid-column-end: 7;
	grid-row-start: 1;
	grid-row-end: 4;
}*/

#projects-card {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
}

#experience-card {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 4;
}

/*------------------------------------*/
/*------------- PROJECTS -------------*/
/*------------------------------------*/

#driply-card {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
  grid-row-end: 2;
}

#slimesoccer-card {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
  grid-row-end: 3;
}

#lettercraze-card {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 3;
  grid-row-end: 4;
}

#personal-site-card {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 4;
  grid-row-end: 5;
}

/*------------------------------------*/
/*------------ EXPERIENCE ------------*/
/*------------------------------------*/

#dropwise-card {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
  grid-row-end: 2;
}

#wpi-card {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
  grid-row-end: 3;
}

#crosbys-card {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 3;
  grid-row-end: 4;
}

/*------------------------------------*/
/*-------------- CONTACT -------------*/
/*------------------------------------*/

.contact-item {
	padding: 5px;
}

.contact-icon {
  text-decoration: none;
}

.icon {
	border-radius: 10px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}

/*------------------------------------*/
/*------- MEDIUM SCREEN STYLES -------*/
/*------------------------------------*/

/*@media screen and (max-width: 820px) {

  .home-wrapper {
    grid-column-start: 2;
    grid-column-end: 3;
    width: 100%;
  }

  #projects-card {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
  }

  #experience-card {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 4;
  }

  .bio {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 2;
  }

}*/

/*------------------------------------*/
/*------- SMALL SCREEN STYLES --------*/
/*------------------------------------*/

@media screen and (max-width: 670px) {

/*------------------------------------*/
/*---------- HOME (SMALL) ------------*/
/*------------------------------------*/

	.home-wrapper {
		grid-column-start: 2;
		grid-column-end: 3;
		width: 100%;
	}

  .profile-wrapper {
    padding-bottom: 5px;
  }

  /*.nav-text {
    padding-top: 10px;
  }*/

	#projects-card {
		grid-column-start: 1;
		grid-column-end: 7;
		grid-row-start: 2;
   	grid-row-end: 3;
	}

	#experience-card {
		grid-column-start: 1;
		grid-column-end: 7;
		grid-row-start: 3;
   	grid-row-end: 4;
	}

  .profile-wrapper {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-self: center;
  }

  .navigation {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    justify-self: center;
  }

/*------------------------------------*/
/*---------- CARD (SMALL) ------------*/
/*------------------------------------*/

	.card-pic {
		grid-row-start: 1;
		grid-row-end: 2;
		grid-column-start: 1;
		grid-column-end: 4;
		justify-self: center;
    width: 200px;
    height: auto;
	}

	.card-title {
		margin-top: 0px;
		grid-row-start: 2;
		grid-row-end: 3;
		grid-column-start: 1;
		grid-column-end: 4;
		justify-self: center;
		text-align: center;
	}

	.card-subtitle {
		grid-row-start: 3;
		grid-row-end: 4;
		grid-column-start: 1;
		grid-column-end: 4;
		justify-self: center;
		text-align: center;
	}

	.card-description {
		grid-row-start: 4;
		grid-row-end: 5;
		grid-column-start: 1;
		grid-column-end: 4;
		justify-self: center;
	}

	.card-button {
		grid-row-start: 5;
	   	grid-row-end: 6;
		grid-column-start: 1;
		grid-column-end: 4;
		justify-self: center;
	}

  /*------------------------------------*/
  /*------- DETAIL CARD (SMALL) --------*/
  /*------------------------------------*/

  .width-75 {
    height: auto;
    width: 100%;
  }

  .home-card {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-row-gap: 20px;
    justify-items: center;
  }

}
