---
layout: default
---
<main class="experience-content">
  <div class="home-card">
    <img class="profile-pic" src="/assets/profile-picture-1.jpg" alt="Profile Picture" height="150" width="150" >
    {{ content }}
  </div>
  <div class="detail-card">
    <h2 class="home-card-title">Skills</h2>
    <ul class="skills-list">
      {% for skill in site.data.skills %}
      <li class="skills-item">{{ skill }}</li>
      {% endfor %}
    </ul>
  </div>
  <div class="detail-card">
    <h2 class="home-card-title">Projects</h2>
    <div class="home-card-gallery">
      {% for project in site.data.projects %}
        {% if forloop.index < 4 %}
        <img class="home-card-pic {% if project.image-shadow %}card-pic-shadow{% endif %}" src="{{ project.image }}" alt="{{ project.name }}" height="200" width="200">
        {% endif %}
      {% endfor %}
    </div>
    <p class="home-card-description">This past year I launched a mobile app, built a web application for an Australian nonprofit, and created a multiplayer online game. I gained hands-on development experience using technologies including React Native, Node.js, Firebase, and Amazon Web Services.</p>
    <a class="home-card-button" href="/projects/">View My Projects</a>
  </div>
  <div class="detail-card">
    <h2 class="home-card-title">Experience</h2>
    <div class="home-card-gallery">
      {% for experience in site.data.experience %}
        {% if forloop.index < 4 %}
        <img class="home-card-pic {% if experience.image-shadow %}card-pic-shadow{% endif %}" src="{{ experience.image }}" alt="{{ experience.name }}" height="200" width="200">
        {% endif %}
      {% endfor %}
    </div>
    <p class="home-card-description">This past year I worked as a Software Engineering Intern at Wayfair, developed a mobile app as part of a WPI startup, and built websites for a WPI professor. I improved my development skills using technologies including PHP, SQL Server, React, and React Native.</p>
    <a class="home-card-button" href="/experience/">View My Experience</a>
  </div>
  <!-- <div class="home-wrapper">
  </div> -->
</main>
