---
layout: default
---
<main class="home-content">
  <div class="home-wrapper">
    {{ content }}
    <div class="square-card" id="projects-card">
      <img class="square-card-pic" src="/assets/projects-icon4.png" alt="Projects Icon" height="180" width="180">
      <!-- <h2 class="square-card-title">Projects</h2>
      <h3 class="square-card-description">Select examples of my work, from school and extracurricular experiences</h3> -->
      <a class="square-card-button" href="/projects">View My Projects</a>
    </div>
    <div class="square-card" id="experience-card">
      <img class="square-card-pic" src="/assets/experience-icon4.png" alt="Experience Icon" height="180" width="180">
      <!-- <h2 class="square-card-title">Experience</h2>
      <h3 class="square-card-description">Professional experience and education</h3> -->
      <a class="square-card-button" href="/experience">View My Experience</a>
    </div>
  </div>
</main>
